.instructions
  = form_for @project, url: {action: "create"}, :html => {:class => "form-horizontal"}  do |f|
    - if @admin_post
      .control_group
        .controls
          (Posting late for event ##{@event.id} as administrator.)
    .control_group
      = f.label :name, :class => "control-label"
      .controls
        = f.text_field :name, :placeholder => "Name of #{@admin_post ? "the" : "my"} hack."
    .control_group
      = f.label :participants, "Built by", :class => "control-label" 
      .controls
        = f.text_field :participants, :placeholder => "@twitter names preferred. If multiple, separate by commas.", :value => nil
    .control_group
      = f.label :link, :class => "control-label"
      .controls
        = f.text_field :link, :placeholder => "Optional, but a demo link (or GitHub) would be nice."
    .control_group
      = f.label :description, :class => "control-label"
      .controls
        = f.text_area :description, size: "20x4", :placeholder => "#{@admin_post ? "A" : "Write a"} little blurb, if #{@admin_post ? "available" : "you'd like"}."
    .control_group
      = f.label :screenshot, "Optional Screenshot", :class => "control-label"
      .controls
        = f.fields_for :photos do |photo|
          = photo.file_field :image
    .control_group
      .controls
        = f.submit "Submit #{@admin_post ? "this" : "my"} hack!", :class => "btn btn-success"
