- Event.all.each do |event|
  .title
    .number
      \##{event.id}
    = event.start.strftime("%B %-d, %Y")
    \@
    = link_to event.location.name, event.location.url, :target => :blank
    - if event.is_happening_now?
      &nbsp;&nbsp;--&nbsp;&nbsp; 
      %strong Happening now!
    - if event.is_in_the_future?
      .container
        = render :partial => 'future'
    - elsif not event.projects.empty?
      .container
        - event.projects.each do |project|
          .hack
            - if not project.images.empty?
              .image
                = image_tag project.images.first.file.url :thumb
            .title
              %strong
                = project.link ? link_to(project.name, project.link, :target => :blank) : project.name
              by
              - project.contributors.each do |person|
                - if person.has_url?
                  = link_to person.full_name, person.url, :target => :blank
                - else
                  = person.full_name
            .description
              = project.description
